In [3]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

In [5]:
df = pd.read_csv('simpsons_dataset.csv').dropna()
df.head()

        raw_character_text                                       spoken_words
0              Miss Hoover  No, actually, it was a little of both. Sometim...
1             Lisa Simpson                             Where's Mr. Bergstrom?
2              Miss Hoover  I don't know. Although I'd sure like to talk t...
3             Lisa Simpson                         That life is worth living.
4  Edna Krabappel-Flanders  The polls will be open from now until the end ...

In [6]:
df['raw_character_text'].value_counts().head()

Homer Simpson          27850
Marge Simpson          13172
Bart Simpson           12995
Lisa Simpson           10756
C. Montgomery Burns     3077
Name: raw_character_text, dtype: int64

In [7]:
subset = df[(df['raw_character_text'] == 'Bart Simpson') | (df['raw_character_text'] == 'Lisa Simpson')]
#you can also use df.loc or df.iloc
subset.head()

   raw_character_text                         spoken_words
1        Lisa Simpson               Where's Mr. Bergstrom?
3        Lisa Simpson           That life is worth living.
7        Bart Simpson       Victory party under the slide!
9        Lisa Simpson        Mr. Bergstrom! Mr. Bergstrom!
11       Lisa Simpson  Do you know where I could find him?

In [8]:
text = subset['spoken_words'].values.astype('U') #Taking the text from the df. We need to convert it to Unicode

vect = CountVectorizer(stop_words='english') #Create the CV object, with English stop words
vect = vect.fit(text) #We fit the model with the words from the review text
feature_names = vect.get_feature_names() #Get the words from the vocabulary
print(f"There are {len(feature_names)} words in the vocabulary. A selection: {feature_names[500:520]}")

There are 14257 words in the vocabulary. A selection: ['anguished', 'angus', 'anima', 'animal', 'animals', 'animated', 'animation', 'animators', 'anka', 'ankle', 'ann', 'annapolis', 'anne', 'annie', 'anniversary', 'annnnd', 'announce', 'announcement', 'announcements', 'announcer']

In [9]:
matrix = vect.transform(text) #The transform method from the CountVectorizer object creates the matrix

In [10]:
print(matrix[0:500,0:500])

  (23, 424)	1
  (38, 325)	1
  (43, 266)	1
  (61, 269)	1
  (72, 356)	1
  (78, 264)	1
  (80, 304)	1
  (96, 192)	1
  (98, 396)	1
  (149, 328)	1
  (154, 325)	1
  (155, 451)	1
  (161, 325)	1
  (162, 325)	1
  (184, 461)	1
  (205, 325)	1
  (208, 397)	1
  (229, 270)	1
  (235, 404)	1
  (256, 325)	1
  (284, 325)	1
  (291, 493)	1
  (292, 163)	1
  (315, 300)	1
  (318, 281)	1
  (353, 450)	1
  (355, 397)	1
  (359, 449)	1
  (363, 24)	1
  (363, 449)	1
  (381, 129)	1
  (382, 325)	1
  (383, 70)	1
  (389, 38)	1
  (389, 91)	1
  (391, 446)	1
  (393, 126)	1
  (405, 52)	1
  (405, 319)	1
  (405, 343)	1
  (408, 449)	1
  (414, 196)	1
  (422, 360)	1
  (457, 304)	1

In [11]:
subset2 = pd.DataFrame(matrix.toarray()) #make a regular matrix, then put in Dataframe
subset2.index = subset['spoken_words'] #Give the rows names (text of the review)
subset2.columns = feature_names #Give the columns names (words from vocabulary)

# reg_matrix = pd.concat([subset, pd.DataFrame(matrix.toarray())], axis=1)
# reg_matrix.dropna()

In [12]:
subset2.iloc[0:4, 1000:1015] #Show a part of the matrix

,bartholemew,bartholomew,bartish,bartman,barto,bartrand,bartron,barts,barty,bas,base,baseball,based,basement,basements
spoken_words,,,,,,,,,,,,,,,
Where's Mr. Bergstrom?,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
That life is worth living.,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Victory party under the slide!,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Mr. Bergstrom! Mr. Bergstrom!,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [13]:
final = pd.concat([subset, subset2], sort=False)
final.head()

,raw_character_text,spoken_words,000,007,10,1000,10201,108,1094,11,...,zork,zorrinid,zuckerberg,zuh,zumanity,zur,zz,zzzapp,ãªtre,ãºna
1,Lisa Simpson,Where's Mr. Bergstrom?,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Lisa Simpson,That life is worth living.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Bart Simpson,Victory party under the slide!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Lisa Simpson,Mr. Bergstrom! Mr. Bergstrom!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Lisa Simpson,Do you know where I could find him?,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<b> Exercise 17, Naive Bayes <b>

In [15]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.preprocessing import normalize

X = subset2.loc[:]
y = subset['raw_character_text']

In [28]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [24]:
clf = MultinomialNB()
clf.fit(X_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [25]:
clf.predict(X_test)

array(['Lisa Simpson', 'Lisa Simpson', 'Bart Simpson', ...,
       'Lisa Simpson', 'Lisa Simpson', 'Bart Simpson'], dtype='<U12')

In [29]:
accuracy = clf.score(X_test, y_test)

In [30]:
print(f'Accuracy: {accuracy}')

Accuracy: 0.7431939376929554