In [1]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

In [16]:
df1 = pd.read_csv('movies.csv')

In [15]:
df2 = pd.read_csv('ratings.csv')

In [18]:
df = pd.merge(df1, df2, on = 'movieId')
df.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.5,1510577970
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17,4.5,1305696483

In [44]:
pivot = pd.pivot_table(data=df, index='userId', columns='title', values='rating')

In [45]:
sorted_pivot = pivot.reindex(pivot.count().sort_values(ascending=False).index, axis=1)
sorted_pivot.head()

title,Forrest Gump (1994),"Shawshank Redemption, The (1994)",Pulp Fiction (1994),"Silence of the Lambs, The (1991)","Matrix, The (1999)",Star Wars: Episode IV - A New Hope (1977),Jurassic Park (1993),Braveheart (1995),Terminator 2: Judgment Day (1991),Schindler's List (1993),...,"Last Wedding, The (Kivenpyörittäjän kylä) (1995)","Last Winter, The (2006)",Last Year's Snow Was Falling (1983),Last of the Dogmen (1995),Late Marriage (Hatuna Meuheret) (2001),Late Night Shopping (2001),Late Night with Conan O'Brien: The Best of Triumph the Insult Comic Dog (2004),"Late Shift, The (1996)",Latter Days (2003),'71 (2014)
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,3.0,4.0,5.0,5.0,4.0,4.0,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,1.0,5.0,1.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,3.0,5.0,NaN,NaN,NaN,NaN,4.0,3.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
#sorted_pivot.dropna(subset = ['Forrest Gump (1994)']).head()

title,Forrest Gump (1994),"Shawshank Redemption, The (1994)",Pulp Fiction (1994),"Silence of the Lambs, The (1991)","Matrix, The (1999)",Star Wars: Episode IV - A New Hope (1977),Jurassic Park (1993),Braveheart (1995),Terminator 2: Judgment Day (1991),Schindler's List (1993),...,"Last Wedding, The (Kivenpyörittäjän kylä) (1995)","Last Winter, The (2006)",Last Year's Snow Was Falling (1983),Last of the Dogmen (1995),Late Marriage (Hatuna Meuheret) (2001),Late Night Shopping (2001),Late Night with Conan O'Brien: The Best of Triumph the Insult Comic Dog (2004),"Late Shift, The (1996)",Latter Days (2003),'71 (2014)
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,3.0,4.0,5.0,5.0,4.0,4.0,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,5.0,5.0,2.0,4.0,NaN,NaN,5.0,5.0,3.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,5.0,NaN,NaN,5.0,NaN,5.0,5.0,NaN,2.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,3.0,5.0,4.0,4.0,NaN,NaN,4.0,3.0,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,3.5,NaN,1.0,NaN,0.5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
corr = sorted_pivot.corrwith(sorted_pivot['Forrest Gump (1994)'], axis=0, drop=False)
corr.sort_values(ascending=False)[0:10]

/Users/tessadevries/anaconda3/lib/python3.6/site-packages/numpy/lib/function_base.py:3175: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
/Users/tessadevries/anaconda3/lib/python3.6/site-packages/numpy/lib/function_base.py:3109: RuntimeWarning: divide by zero encountered in double_scalars
  c *= 1. / np.float64(fact)

title
Seventh Son (2014)                                           1.0
Ultimate Avengers (2006)                                     1.0
Violet & Daisy (2011)                                        1.0
Pépé le Moko (1937)                                          1.0
Garage Days (2002)                                           1.0
Death at a Funeral (2010)                                    1.0
Four Feathers, The (2002)                                    1.0
Rare Exports: A Christmas Tale (Rare Exports) (2010)         1.0
Vitelloni, I (a.k.a. The Young and the Passionate) (1953)    1.0
Gross Anatomy (a.k.a. A Cut Above) (1989)                    1.0
dtype: float64

In [49]:
reduced = sorted_pivot.dropna(axis=1, thresh=100)
corr = reduced.corrwith(reduced['Forrest Gump (1994)'])
corr.sort_values(ascending=False)[0:10]

title
Forrest Gump (1994)                1.000000
Good Will Hunting (1997)           0.484042
Aladdin (1992)                     0.464268
American History X (1998)          0.457287
Truman Show, The (1998)            0.432556
Braveheart (1995)                  0.416976
Ferris Bueller's Day Off (1986)    0.405830
Mrs. Doubtfire (1993)              0.401408
Full Metal Jacket (1987)           0.397241
Saving Private Ryan (1998)         0.390074
dtype: float64